{% extends 'emp/base.html' %} 
{% block content %}

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Historique de mes Congés</h4>
        <!-- <p class="card-description">Add class <code>.table</code></p> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Congés</th>
                <th>Durée(j)</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jacob</td>
                <td>53275531</td>
                <td><label class="badge badge-danger">Pending</label></td>
                <td>
                    <a href="#" class="btn btn-sm btn-outline-primary" >
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
              </tr>
              <tr>
                <td>Messsy</td>
                <td>53275532</td>
                <td><label class="badge badge-warning">In progress</label></td>
                <td>15 May 2017</td>
              </tr>
             
              <tr>
                <td>Peter</td>
                <td>53275534</td>
                <td><label class="badge badge-success">Completed</label></td>
                <td>16 May 2017</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
