{%extends 'admin/base.html' %} 
{% block content %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Bienvenue sur votre espace</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 grid-margin transparent">
    <div class="row-md-12 stretch-card transparent">
      <div class="col-md-4 mb-2 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Employés</p>
            <p class="fs-30 mb-2">{{emp}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">Total des Tâches</p>
            <p class="fs-30 mb-2">{{all_task}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2 stretch-card transparent">
        <div class="card card-light-danger">
          <div class="card-body">
            <p class="mb-4">Total en Retard</p>
            <p class="fs-30 mb-2">{{retard}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-md-12 stretch-card transparent">
      <div class="col-md-4 mb-2 stretch-card transparent">
        <div class="card card-light-danger">
          <div class="card-body">
            <p class="mb-4">Taches en Cour</p>
            <p class="fs-30 mb-2"> {{ en_cours}} </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2 stretch-card transparent">
        <div class="card card-light-blue">
          <div class="card-body">
            <p class="mb-4">Tache en Attente</p>
            <p class="fs-30 mb-2"> {{ en_attente}} </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2 stretch-card transparent">
        <div class="card card-light-blue">
          <div class="card-body">
            <p class="mb-4">Taches Terminés</p>
            <p class="fs-30 mb-2"> {{ termine}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-md-12 stretch-card transparent">
      <div class="col-md-4 mb-2 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Total Congés </p>
            <p class="fs-30 mb-2">{{all_conges}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">Congés en Attente</p>
            <p class="fs-30 mb-2">{{conges_en_attente}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2 stretch-card transparent">
        <div class="card card-light-blue">
          <div class="card-body">
            <p class="mb-4">Congés Acceptés</p>
            <p class="fs-30 mb-2"> {{conges_accepter}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
