{% extends 'admin/base.html' %}

{% block content %}
<!-- Modale de confirmation -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmer la suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Voulez vous vraiment supprimé ce utilisateur?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Oui</button>
      </div>
    </div>
  </div>
</div>

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Gestion des Employés</h4>
          <!-- <p class="card-description">Add class <code>.table</code></p> -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Matricule</th>
                  <th>Nom Complet</th>
                  <th>Rôles</th>
                  <th>Contact</th>
                  <th>Naissance</th>
                  <th>Sexe</th>
                  <th>Actions</th>

                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <td> {{user.matricule}} </td>
                  <td> {{user.nom_complet}} </td>
                  <td>{{user.role}}</td>
                  <td> 
                    <div class="small">
                      <div><i class="fas fa-envelope me-2"></i>{{user.email}}</div>
											<div><i class="fas fa-phone me-2"></i>{{user.telephone}}</div>
											<div><i class="fas fa-location-dot me-2 "></i>{{user.adresse}}</div>
                    </div>
                  </td>
                  <td> {{user.date_naissance}} </td>
                  <td>{{user.sexe}}</td>
                  <td>
                      <a href="{% url 'edituser' user.id %}" class="btn btn-sm btn-outline-primary" >
                          <i class="fas fa-eye"></i>
                      </a>
                      <a href="{%url   'delete_user' user.id  %}"  class="btn btn-sm btn-outline-danger" >
                        <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}